*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px;
    border-radius: 50px;
    background-color: red;
    font-size:20px;
    z-index: 99;
    position: relative;
    border: 2px solid white;
    cursor: pointer;
}

button:active{
    scale:0.9;
}
