*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    width: 300px;
    height: 400px;
    
}

.box{
    background-color: black;
    overflow: hidden;
    height: 70%;
    margin: 20px;
    position: relative;
}
.box img{
    width: 100%;
    object-fit: cover;
    height: 280px;
}

.card h2{
    margin: 20px;
    text-align: center;
    font-size: 40px;
}

#like{
    background: "";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAMAAzAMBIgACEQEDEQH/xAAcAAEBAQEBAQEBAQAAAAAAAAADAgQBCAAFBwb/xAAvEAABAwIEBAcAAgIDAAAAAAABAAIRITEDQVHwYXGBoRKRscHR4fEEMiJCEyNi/8QAHAEBAAMBAQEBAQAAAAAAAAAABAIDBQEACAcG/8QAHREBAQEBAQEBAQEBAAAAAAAAAAIBAxESIQQxE//aAAwDAQACEQMRAD8A/nbVYUBWF/YGwsBUAuBWF0jMdAVASuBWF3xfOOgKm75LgVjeSpvFuSoBWI0Gm991xu6KwNxv7Q7xdOKaJz80jKCRS0cPzdFOX3v7srAjp031tyQ+i2ZUxsACKCkW4xTz9FYEjefz5HmpaB02enLLJIBvWe3TO90LoumVNbrWM8t5aZFO0QQbC9aRHpHbOQiYJNzfXp9TnYrQwERFCDlIiPjW45IlpVBWtg/1mgpF4rl50tcJsMWAMh3L/Kc9DPkbiCjw2giIygi3HKo1pa4TsaSBUuJzgGSbmLGfI3EFFtRUFwxSZGpN+Eyb6Sb2dWqdgIOYIg3IiPjzbYy1FhihMmdZnhc30nOzqiU+GCHUgAcxEceGtxYy1EusxRUL8IgAD/yBF84gecXF20oqDfEK18QrYz4sosZ0sbiHBV/xkR5RqLxHeBUXaYkKgC6QazIsDM9jOljcQUe+qv5dDbmRN5vwub6Sb2dWq04TPCaCIpciI7iNTUWqEbBmCdZnoKm+lb2ctX8dlBNIjM0jnWnGosZCF1/o8c2caf4eBL4jKIjjMcNYyuKUX+g/jtH/ABDJfmfw2AARaNIG+HlRfsYDf+sSv5/+np90J139eZ2pAoarC/fhoWEgsjCRq6VK2qgFLVYXSZx0K2rgCtoVXRdMqASAb36KQrG6IdrpxYVNERbzO/NcbuqsCOnT89kK10yoVET5yN7iiRoIJ32t8qWiKdEgH3vcoPTV84tsnXtXf0dU7aTvfO45ImXps7z6FOynDtvnlnRB6W7UmY2pHqPj2tcaJ8O1rjOszyoelDcQaImDTfl7WuE7BMQJ6X33yqgdLU1hWAkz7yfPPnnZ2q0Yf9rCL3gU3zbYyKocOsVEHOff36Gq0MFek6demebc5CD0sesWGwTOYiI+PQVFxIokE08gb/vKxuIK4AaDZ6e2VxokAB68j+8s8oKFdqvF4baCJI5z3OzYrf8Ax29DS05b5i1lmwWkGY8jPc7yK/Q/jttS3ErP7WqvfxtwBDY9l+lhD/BYMIQQv0MOPCs2t90C9/XmZqsI2JAvoRTBBdWFAVhdKhYSBGEgUioW0K2hSxI1UdN8JlQSNChoSBB6UuzFAJGqQNlIOqB0pdOKaIiMkjRkpYK/SVo9Fn9bXzimDutDBT53+ckLRqtDNbZ732Wd1pKsK0biu9hPhiYkeWe+/NEwZR5U470yTsE6Ge8oHSlF4bDnW9Z7bOdinYAPPXTPp5jOiLD11rvdc0+GKzy7b5ixkIHShqwjRl0NOva/cUonY2SL191DG5R2670uE7Gz11rv3QulqNNhNniDrVb8Afay4Qn7W3CEXWf1r0fo1YWS3sH+Kw4QqtzP6owVvMrQrChqsL6GUwQKwoakC6XzWArCkKgulSRiRt0bbpWXVHUmCNCQBQ1K1ZnXSJU1IAoCRqz+ur5xQShQ1K1Z3Wl04tgWjDCFidm97hZ/WkqwzRPWlt7snwxa3lv74FAyv2tDLZ9N/vBZ/Sh6Nh7rff6tGE2tzrM787jiEOGJ0rvfkVqwhThvfDiEHpQ1mY383sZUonwxa3kjY3e96aJ8MIPShdPhC2fNbMNZsILUxCvRumtOCFtZ/VY8IVW1llUHbzI1I1G1I1fQ6qCNVhQFYXTOZAqClqtt10qCNSNUNSNRupEramaiCVqzOxMlAVtUBK1ZfXSJW1IFDUgCzuur5W0LQwIWBO0LP6alWGYNE7BIqOeZ+/dCwLVhig4oHTRrwuFuDda8MZ736clnwwtmEPTe7oHSguhmDe/TqnYETQnYEHpounwhVaGIGCidqLX+j21YK2NssmEtbbKIlvMjUjbI2pW2X0OhC2q2qGpWrpUKakbdQ1IF4uFhI1Q0JGhE66TKwmajalas3rpE4sJWIglaszsRJWpGo2pWrL7avkrE7MkLFowws3pqVGwxRacMIcMLThigQemh2fCC1YQ+VnwwtWGs/pofQzE7AjYEzELpo2mbZMxA1OxUj21YQWttllwbrULLglvMjUrUTUrV9DocyNskajalC6XCgkaoalaFCtMhbUjVDQkah9dJnCNCRqgJGrM66RKwlaoaEjVnddXytqVqJqZqzeq+TYa04YWZl1rw1mdXr07AtOGEGGFpwws7podnwwtWGgwgtOGgdNDs7QlZZG0JhZDvRtW1aMNZ2haMNVqLasLJaRZZsJaRZeEt5kalaiamavodHmRqRqNqVq8ZGLalaEbQlaqar9LjFtSNUNG7JWhC66TJGpGhQ1W0LN66RK2pWhQAkas3rpE4sJWqGhK0LO60uxeHda8NZmCq1Yazuuo21Ya04YWbCWrDWf1D6NGGLLVhhZ8MLThrO6aHZ2JAoYrRNH0jFow1nYtGGoqLasPJaBZZ8NaRZeEt5jYmaETUzV9Do8iNStCNoStCjWnxhGjT9SNGnTe+KhtEoG9EW6KjFMHkmb58UbaZdkrRw7IXWipxbRW6RtFLRuUrQszrRE46ErQc1LQZz8kzRwus3pS7HWBK0LjRp8pGje9hA66n6tgWjDCJgWjDCB01CtNh0WrCWdgWnDCB00W9asJasNZcJasNZ3UOztVBcXQijkYtGGEDFow1xTbVhrQ2yz4a0NsvCU8yNTsQMWhkbK+h3ORWpWXjsoYKpmhUdK8aHPFtpHGiRokSpaNO2/1KB873zQrsyMUBWIrpmlYJAzBp7qWinDTewla2cpy3uuSF2siXW88s+Oe/VMxvAjfspYN72bJmtjS0/c++WazOtLc11jfzPeaZraUG/v8AFxoofjf1ySht6Z6T6e3RZ/Wkvp8wTxnTNK0ZjP2pvTNcaJiayJ1nfdIBvXLfdA6a79KYKhaMMImN4b35LRhjeqD01XVFYFowwiYO+eq0MCD01RVGwwtOGhwwnwwhdNGvTqgpVBFU6Rl1ow1nw7rThrii2nDyWhtlnw1obZeFp5lw1ow0GGtWENzvzX0NW+Ynxz3CsCZg39b4KGN3vYyTtaZ3vpncLO69GhzxTRvezzSgRw4zbf6vmNnrvc0NjVM1vWOPufe1jRCuyp3MfMbQU6b2OSZjLRWb79rZiq6xmUWpaLentlRMxhOXae3tY3FUPraf04xg3x3yPApg3Prfv99CusHH33zs6xghKG17zMcOnPKxos7pTv241oprpUfY9riiRjKDgNLdB6DoutZlTyj89W3qErW8Onh9h6C9wgdKd+3GtmwFa3mZ9ffgVbRYkzxO+/QrrW8ZnjP7zz5pGjPe+OVihdNe+3zGWyyMb/ORWhrdc977I2iOm95jknYKxrwnt7Z3CF01GqKxvfSqfDCJuvvvzTs/Kxv2QuimtKxaGIWbonYELoprSKguLoVCsjFpZks2HdaWLim2lmS0Nss7MloFl4WnmjBFQtmEDA48d7ug/jMLqQSTkv0MFkzMUubcL5aVtmv3v+rtkZ4Rwn8dwm6ZGLRbfPMSFoZhkwPCb2vxt7Z3FaJcHAj/AFIjVsRHxpcXEha2YGQHimkAXJrHM3jO7a0WN07+6X95gGsizbxGd7VtXKaGxgp2MgAkAxW5HDO3W1nUTDDaKnOlwZ8XOhm1aGxhyUeEf5STEmSYtSZNosZtZ1Ko1dPXf+g2MgRHhihoREdxGmVxLUjGF0Dw8IiYJrYecChu0zRI1oYIqzwmIgjw+HKLiNLjKWq2t/1DZikRPGIHnShu2tEfpXr2WlrZOs6GZnjx1s6xgpBET1mY4TW3PKzhFV2jjec8jPi+dbOsYcqbrMADxTJplNajSTazhFUK9S+nwgNtEcCIjhcRwqLiQrbkIPKJ4xAvrS9xovogRaJkQRHh5VEcKi4kKw0xBadAIvnlfWl7hDtPKcBBGs8jM8bGdc7GCrFyeEzPz65WOq+bDq/2BrSsz8655wVbRn1knoT7cLGiHaeU6zL8iN8xxCdgqBB5b9OoRtbWvYaX8vMcQnYMo0Ed/vuES8cqiYdY/d+/NO0U+9xuUeGAYqK5yKz89+adgz2N/RQ7U1RGBOwKGN6fXpvJOwfCH0xTVO+FUAq8K6AqEPp1oqnw0bQmYFFXVNGGtDbLPhrQ2y8NT//Z);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(1,1.74,1,1.34) 0.2s;
}

