* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    color: rgba(0, 0, 0, 0.738);
    
}

main {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

h1 {
    /* font-size: 100px; */
    background-color: rgb(51, 0, 101);
    padding: 50px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 30px;
}

button {
    font-size: 20px;
    margin: 5px;
    padding: 15px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;    
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
button:active{
    scale:0.95;
}
