*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    
}

.card{
    background-color: white;
    width: 300px;
    /* height: 400px; */
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    
}
.card img{
    width: 90%;
    object-fit: cover;
    height: 250px;
    border-radius: 100%;
}

.card h1{
    margin: 5px;
    color: red;
    font-size: 40px;
}
.card h3{
    margin: 5px;
    font-size: 20px;
    white-space: nowrap;
    margin-bottom: 10px;
}


